@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


:root {
  --bg-color:  rgb(127, 59, 194);
  --text-color-light: whitesmoke;
  --text-color-black: black;
  --text-color:  rgba(127, 59, 194);
  --text-color-dark: rgb(37, 82, 179);
  --border-color: rgb(37 82 179 / 34%);
  --border-color2:  rgba(127, 59, 194, 0.736);
  --box-color: rgb(249 249 249);
  --para-font: "Work Sans", sans-serif;
  --heading-font: "Delius", sans-serif;
  --box-shadow: 2px 2px 4px 2px whitesmoke;
}

html {
  scroll-behavior: smooth;
}
body{
  font-family: var(--para-font);
}

p, li{
  line-height: 2.6rem;
}

.img404{
    object-fit:contain;
    width: auto;
    height: 500px;
}

.img-carousel{
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  filter: blur(2px)
}
.carousel-caption{
  color: black;
  font-size: large;
}


button {
  border: none;
  cursor: pointer;
  padding: 4px 6px;
  font-size: 1.1rem;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--text-color-light);
  font-family: var(--para-font);
}

h1, h2, h3, h4, h5, strong, em{
  /* font-family: var(--para-font); */
  font-family: var(--heading-font);
  color: var(--bg-color);
}

.active{
  background-color: rgba(127, 59, 194, 0.736) !important;
}

/* ----------------------LOGIN STYLE STARTED---------------------- */
.login-signup-form {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--para-font);
}

.login-signup-form h1 {
  margin-bottom: 1rem;
  font-family: var(--heading-font);
}

.login-signup-form div {
  border: 1px solid var(--border-color2);
  padding: 1rem;
  border-radius: 5px;
  width: auto;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  font-family: var(--para-font);
}

.login-signup-form input {
  font-size: 1.5rem;
  border: 1px solid var(--border-color2);
  border-radius: 5px;
  outline: none;
  padding-left: 2px;
  font-family: var(--para-font);
  color: var(--text-color);
  margin: 1rem 0;
  padding: 1px 5px;
}

.login-signup-form button {
  margin: 1rem 0;
  font-family: var(--para-font);
}

.login-signup-form p {
  margin: 1rem 0;
  font-family: var(--para-font);
}
/* ----------------------LOGIN STYLE ENDED---------------------- */

/* ----------------------SINGLE PAGE CARD STYLE STARTED---------------------- */
#post-cover{
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  max-height: 350px;
}

.page-title{
  font-family: var(--heading-font);
}

.post-content{
  line-height: 2rem;
  font-family: var(--para-font);
}

.post-content p{
  font-size: 1.1rem;
  text-align: justify;
}

.post-content p a, li a{
  text-decoration: dotted !important;
}

.post-content ol li{
  text-align: justify;
}

p > img{
  margin: auto;
  display: flex;
  justify-content: center;
}

#post-page .post-content img{
  width: 70%;
  height: auto;
  object-fit: cover;
  padding-top: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 500px){
  #post-page .post-content img{
    width: 100%;
  }
}

/* ----------------------SINGLE PAGE CARD STYLE ENDED---------------------- */