@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: rgb(37, 82, 179);
  --text-color-light: whitesmoke;
  --text-color-black: black;
  --text-color-dark: rgb(37, 82, 179);
  --border-color: rgb(37 82 179 / 34%);
  --box-color: rgb(249 249 249);
  --para-font: "Work Sans", sans-serif;
  --heading-font: "Work Sans", sans-serif;
  --box-shadow: 2px 2px 4px 2px whitesmoke;
}

html {
  scroll-behavior: smooth;
}
body{
  font-family: var(--para-font);
}


button {
  border: none;
  cursor: pointer;
  padding: 4px 6px;
  font-size: 1.1rem;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--text-color-light);
  font-family: var(--para-font);
}

/* ----------------------LOGIN STYLE STARTED---------------------- */
.login-signup-form {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  font-family: var(--para-font);
}

.login-signup-form h1 {
  margin-bottom: 1rem;
  font-family: var(--heading-font);
}

.login-signup-form div {
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: 5px;
  width: auto;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  font-family: var(--para-font);
}

.login-signup-form label {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-family: var(--para-font);
}

.login-signup-form input {
  font-size: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  padding-left: 2px;
  font-family: var(--para-font);
  color: var(--text-color-dark);
}

.login-signup-form button {
  margin: 1rem 0;
  font-family: var(--para-font);
}

.login-signup-form p {
  margin: 1rem 0;
  font-family: var(--para-font);
}


/* ----------------------LOGIN STYLE ENDED---------------------- */

/* ----------------------SINGLE PAGE CARD STYLE STARTED---------------------- */
#post-cover{
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  max-height: 350px;
}

.page-title{
  font-family: var(--heading-font);
}

#post-page  h1, .post-content h2, .post-content h3{
  font-family: var(--para-font);
}

.post-content{
  line-height: 2rem;
  font-family: var(--para-font);
}

.post-content p{
  font-size: 1.2rem;
  text-align: justify;
}

#post-page .post-content img{
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

/* ----------------------SINGLE PAGE CARD STYLE ENDED---------------------- */